{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Elastik to'lqinlar</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
                   <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>


    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="{% static 'admin_page/css/app.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'admin_page/css/kiritish.css' %}" rel="stylesheet"/>

    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
            integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
            crossorigin="anonymous"
    />
    <!-- ================== END BASE CSS STYLE ================== -->
</head>
<body class="pace-top">
<!-- begin #page-loader -->
<div id="page-loader" class="fade show">
    <span class="spinner"></span>
</div>
<!-- end #page-loader -->

<!-- begin login-cover -->
<div class="login-cover">
    <div class="login-cover-image"
         style="background-image: url({% static 'admin_page/images/login-bg/nuu1.jpg' %})"
         data-id="login-cover-image"></div>
    <div class="login-cover-bg"></div>
</div>
<!-- end login-cover -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-v2">
        <!-- begin brand -->
        <div class="login-header">

        </div>

        <!-- end brand -->
        <!-- begin login-content -->
        <div class="login-content">
            <form method="POST" class="margin-bottom-0">
                {% csrf_token %}
                <div class="form-group m-b-20 display-flex">
                    <div class="m-b-20 display-column ">  <label class="label-light" for="Cs">Cs</label>
                     <input name="Cs" id="Cs" type="text" class="form-control form-control-lg mr-5" placeholder="Cs ni kiriting"
                           required/></div>
                   <div class="m-b-20 display-column">  <label class="label-light" for="Cp1">Cp1</label>
                     <input name="Cp1" id="Cp1" type="text" class="form-control form-control-lg mr-5" placeholder="Cp1 ni kiriting"
                           required/></div>




                </div>
                   <div class="form-group m-b-20 display-flex">
                    <div class="m-b-20 display-column ">  <label class="label-light" for="Cp2">Cp2</label>
                     <input name="Cp2" id="Cp2" type="text" class="form-control form-control-lg mr-5" placeholder="Cp2 ni kiriting"
                           required/></div>
                   <div class="m-b-20 display-column">  <label class="label-light" for="pFol">pFol</label>
                     <input name="pFol" id="pFol" type="text" class="form-control form-control-lg mr-5" placeholder="pFol ni kiriting"
                           required/></div>
                                       </div>
                <div class="form-group m-b-20 display-flex">
                    <div class="m-b-20 display-column ">  <label class="label-light" for="pFos">pFos</label>
                     <input name="pFos" type="text" id="pFos" class="form-control form-control-lg mr-5" placeholder="pFos ni kiriting"
                           required/></div>
                   <div class="m-b-20 display-column">  <label class="label-light" for="d0">d0</label>
                     <input name="d0" type="text" id="d0" class="form-control form-control-lg mr-5" placeholder="d0 ni kiriting"
                           required/></div>
                                       </div>

 <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Hisoblash</button>
                </div>

            </form>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end login -->
    <div class="wrap-graph">
        <div class="wrap-1">
                    <div class="solve" id="tester">

</div>
                               <div class="solve">

                    </div>


</div>

                <div class="wrap-2">
                    <div class="solver" id="aniq"></div>

                                <div class="solver" id="myDiv"><div>


</div>


        </div>
    </div>

        </div>
    </div>

        <script>

console.log(JSON.parse("{{data}}"))
var data = [{

z:JSON.parse("{{data}}"),

  type: 'surface',
  contours: {
    z: {
      show:true,
      usecolormap: true,
      highlightcolor:"#42f462",
      project:{z: true}
    }
  }
}];

var layout = {
  title: "G'ovak muhitlarda elastik to'lqinlar",
  scene: {camera: {eye: {x: 1.87, y: 0.88, z: -0.64}}},
  autosize: false,
  width: 800,
  height: 800,
  margin: {
    l: 65,
    r: 50,
    b: 65,
    t: 90,
  }
};

TESTER = document.getElementById('tester');


Plotly.newPlot(TESTER, data, layout);


</script>
    <script>


var xArray = [];
let a=8*Math.PI/50
for (let i=0;i<50;i++)
{
    xArray[i]=(-4*Math.PI+i*a)
}
// Define Data
var data = [{
  x: xArray,
  y: JSON.parse("{{z1}}"),
  mode: "lines",
  type: "scatter"
}];

// Define Layout
var layout = {
  xaxis: {range: [-4*Math.PI, 4*Math.PI], title: "X"},
  yaxis: {range: [-4*Math.PI, 4*Math.PI], title: "Y"},
  title: "Aniq yechim"
};

TESTER = document.getElementById('myDiv');


Plotly.newPlot(TESTER, data, layout);

    </script>
    <script>


var xArrayy= [];
let aa=400*Math.PI/50
for (let i=0;i<50;i++)
{
    xArrayy[i]=(i*aa)
}
// Define Data
console.log("{{z2}}")
var data = [{
  x: xArrayy,
  y: JSON.parse("{{z2}}"),
  mode: "lines",
  type: "scatter"
}];

// Define Layout
var layout = {
  xaxis: {range: [0, 400*Math.PI], title: "X"},
  yaxis: {range: [-4000, 400*Math.PI], title: "Y"},
  title: "Taqribiy yechim"
};

TESTER = document.getElementById('aniq');


Plotly.newPlot(TESTER, data, layout);

    </script>

    <!-- begin login-bg -->
    <ul class="login-bg-list clearfix">
        <li class="active"><a href="javascript:;" data-click="change-bg"
                              data-img="{% static 'admin_page/images/login-bg/nuu1.jpg' %}"
                              style="background-image: url({% static 'admin_page/images/login-bg/nuu1.jpg' %})"></a>
        </li>
        <li><a href="javascript:;" data-click="change-bg"
               data-img="{% static 'admin_page/images/login-bg/nuu2.jpg' %}"
               style="background-image: url({% static 'admin_page/images/login-bg/nuu2.jpg' %})"></a></li>
        <li><a href="javascript:;" data-click="change-bg"
               data-img="{% static 'admin_page/images/login-bg/nuu3.jpg' %}"
               style="background-image: url({% static 'admin_page/images/login-bg/nuu3.jpg' %})"></a></li>
        <li><a href="javascript:;" data-click="change-bg"
               data-img="{% static 'admin_page/images/login-bg/nuu4.jpg' %}"
               style="background-image: url({% static 'admin_page/images/login-bg/nuu4.jpg' %})"></a></li>

    </ul>
    <!-- end login-bg -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'admin_page/js/app.min.js' %}"></script>
<!--<script src="{% static 'admin_page/js/plot.js' %}"></script>-->

<script src="{% static 'admin_page/js/default.min.js' %}"></script>
<!-- ================== END BASE JS ================== -->
               <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'admin_page/js/login-v2.demo.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>